<div class="preferences-nav span3">
  <h1>Admin Area</h1>
  <ul>
    <li class="<%= 'active' if current_page?(admins_dashboard_path) %>"><%= link_to "Send Announcement to All Users", admins_dashboard_path %></li>
  </ul>
</div>
