<div class="preferences row-fluid">
  <%= render 'admins/left_nav' %>

  <div class="preferences-content span9">
    <h1>Community Prompts</h1>
    
    <div class="preferences-inner">
      <h2>Create New Prompt</h2>
      <%= render 'prompts/form' %>
    </div>
  </div>
</div>
