<div class="comment_box">
  <div class="comment_photo"><%= image_tag "alien.svg" %>
  </div>
  <div class="comment">
    <%= form_for(@comment, :url => create_comment_scene_path(@scene), :html => { :class => 'form-inline', :style => 'margin: 0' }, :remote => true) do |f| %>
      <div class="input-append">
        <%= f.text_field :content, :placeholder => 'Type a message?' %>
        <%= f.submit :class => "btn", :value => 'Comment' %>
      </div>
    <% end %>
  </div>
</div>