<ul>
  <%= render :partial => "scenes/paragraph_nav_item",
    :collection => paragraphs,
    :locals => {:scene => scene} %>
  <% if can?(:create, Paragraph) %>
    <li class="span6">
    <%= link_to new_scene_paragraph_path(scene), :remote => true, :class => "new_paragraph" do %>
      <i class="icon-plus"></i> Suggest Draft
    <% end %>
    </li>
  <% end %>
</ul>

