<div class="scene row-fluid" id="scene_<%= scene.id %>">
  <div class="<%= paragraphs_classes(@p, scene) %>">
    <div class="para-navigation">
      <button class="btn next-paragraph"><i class="icon-caret-right icon-large"></i></button>
      <button class="btn disabled prev-paragraph"><i class="icon-caret-left icon-large"></i></button>
    </div>  
    <div class="paragraphs-container">
      <%= render :partial => "paragraphs/paragraph", 
                 :collection => scene.ordered_paragraphs,
                 :locals => { :scene => scene } %>          
    </div>
  </div>
  <div class="scene-info span4">
    <%= render :partial => 'scenes/scene_info', :locals => { :scene => scene } %>
  </div>
</div>

