<hr />
<p style="font-size: smaller;">
  You received this email because you have an account at <%= link_to "Ensemble", root_url %>. To customize which emails you receive, <%= link_to "update your email preferences", users_preferences_url %>.
</p>
