<p>
  This is an important announcement regarding <%= link_to "Ensemble", "http://ensemble.stanford.edu" %>:
</p>

<p>
  <%= simple_format @message %>
</p>

<hr />
<p style="font-size: smaller;">
  You received this email because you have an account at <%= link_to "Ensemble", "http://ensemble.stanford.edu" %>. 
</p>
