<p>
  This is an important announcement regarding <%= link_to "Ensemble", "http://ensemble.stanford.edu" %>:
</p>

<p>
  <%= simple_format @message %>
</p>

<%= render :partial => 'notification_mailer/footer' %>
