<p>
  This is an important announcement regarding <%= link_to "Ensemble", "http://ensemble.stanford.edu" %>:
</p>

<p>
  <%= @message %>
</p>

<hr />
<p style="font-size: smaller;">
  You received this email because you have an account at <%= link_to "Ensemble", "http://ensemble.stanford.edu" %>. If you do not want to receive important announcements in the future, you may unsubscribe by editing your <%= link_to "email preferences", "http://ensemble.stanford.edu" + users_preferences_path %>.
</p>
