<%= @other.name %> edited a paragraph you wrote:

<p style="font-style:italic;">
<%= truncate(@para.content, :length => 100) %>
</p>

<%= link_to "Go to the story", story_url(@para.scene.story) %>

<%= render :partial => 'notification_mailer/footer' %>
