<div class="flexslider">
  <ul class="slides">
    <li>
    <%= image_tag "main-slideshow/regular.png" %>
    <p class="flex-caption">
    Write together with others in a new way
    </p>
    </li>
    <li>
    <%= image_tag "main-slideshow/write.png" %>
    <p class="flex-caption">
    Suggest alternatives for a story scene
    </p>
    </li>
    <li>
    <%= image_tag "main-slideshow/alternative.png" %>
    <p class="flex-caption">
    Browse and vote for alternatives
    </p>
    </li>
    <li>
    <%= image_tag "main-slideshow/comment.png" %>
    <p class="flex-caption">
    Discuss scenes with others
    </p>
    </li>
  </ul>
</div>

