<% cache [story, 'index-preview'] do %>
  <%= link_to story, :class => "story-preview" do %>
    <h1><%= story.title %> 
      <small class="author">
        Started by <%= story.user.name %>
      </small>
    </h1>
    <div class="last-updated">
      Started <%= timeago(story.created_at) %>
    </div>
  <% end %>
<% end %>
