<div class="home row-fluid">
  <div class="hero-unit span12">
    <div class="screenshots span5">
      <%= render :partial => "home/slideshow" %>
    </div>
    <div class="home-message span7">
      <div>
        <h1>Collaboratively write stories</h1>
        <p class="lead">Ensemble is a platform for massive participatory story writing.</p>
        <p>
        <%= link_to current_stories_path, :class => "btn btn-primary btn-large" do %>
          Start writing
          <i class="icon-chevron-right"></i>
        <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="stories-preview">
    <h2>Recent Stories</h2>
    <%= render :partial => 'home/story_preview', :collection => Story.find(:all, :limit => 3), :as => :story %>
  </div>
</div>
