<h1>About</h1>
<p>
  <strong>Ensemble is an easier way to collaborate with other creative writers online.</strong>
</p>
<p>
The idea behind <strong>Ensemble</strong> is that the crowd and an individual author have complementary creative strengths -- while the crowd is good at generating ideas and choosing the good from the bad, the individual author is good at designing the telling of the story and holding to a solid creative direction.
</p>
<p>
  Each story has a head author that creates mini-writing prompts for sections of the story, "lassoing" them off as places other can contribute pieces of writing. For example, the head author can create a prompt at the beginning of the story that says something like "I have characters X and Y, but are not sure how they should meet. Maybe someone wants to try to write this part?"
</p>
<p>
  We hope <strong>Ensemble</strong> allows you to create interesting, new stories with interesting, wonderful people.
</p>
<p>
  <strong>Ensemble</strong> is an ongoing project out of <%= link_to "Stanford University", "http://www.stanford.edu" %>,
  created by <%= link_to "Joy Kim", "http://www.stanford.edu/~jojo0808" %> and <%= link_to "Justin Cheng", "http://www.stanford.edu/~jcccf" %>.
</p>
