<div id="contributors_modal" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Contributors</h3>
    <% if can?(:manage, @story) %>
      <p>
      Designate other users as official contributors to the story. The different levels of power are:
      </p>
      <ul>
        <li><strong>Contributors</strong> - These users have the same power as anyone else who visits your story. They can contribute by creating comments and scene drafts, and cannot directly edit over the story.</li>
        <li><strong>Co-writers</strong> - These users can directly edit the text of your story.</li>
        <li><strong>Moderators</strong> - These users can directly edit or delete any part of the story, and designate others as contributors/co-writers/moderators. They can also help moderate comments and scene drafts.</li>
      </ul>
    <% end %>
  </div>
  <div class="modal-body">
    <div class="index-roles">
      <%= render 'index_roles' %>
    </div>
    <hr />
    <%= render 'index_roles_form' %>
  </div>
<!--   <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div> -->
</div>
