<div id="contributors_modal" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Contributors</h3>
    <% if can?(:manage, @story) %>
      <small>Designate other users as official contributors to the story. You can also designate certain users as moderators, who can edit scenes and paragraphs written by others.</small>
    <% end %>
  </div>
  <div class="modal-body">
    <%= render 'index_roles' %>
  </div>
<!--   <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div> -->
</div>
