<% if @story.is_draft? %>
  <div class="alert alert-info">
    This story is a <strong>draft</strong> and has not yet been published.
    <% if !current_page? edit_story_path(@story) %>
      <strong>
        <%= link_to "Continue editing this story.", edit_story_path(@story) %>
      </strong>
    <% end %>
  </div>
<% end %>
