<div class="navbar navbar-inverse navbar-magic">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active">
        <a href="#">Story</a>
      </li>
      <li><%= link_to 'Discussion', story_posts_path(@story) %></li>
    </ul>
    <% if can? :edit, @story %>
    <ul class="nav pull-right">
      <li>
        <%= link_to story_story_roles_path(@story), :remote => true do %>
          <i class="icon-user"></i> Contributors (<span id="contributor_count"><%= @story.contributors.count %></span>)
        <% end %>
      </li>
      <li>
        <%= link_to edit_story_path(@story), :remote => true do %>
          <i class="icon-pencil"></i> Edit
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
</div>