<div id="story_popover" class="well">
  <button type="button" class="close">&times;</button>
  <form class="horizontal-form">
    <input type="text" /><br />
    <input type="text" />
    <input type="submit" />
  </form>
</div>