<div class="question-box">
  <div class="likes">
    <i class="icon-heart"></i>
    <span class="like-number">6</span>
  </div>
  <div class="question-info">
    <div class="question-text">
      What's special about Irene Adler to Sherlock?
    </div>
    <div class="asker">
      asked by user 12345
    </div>
    <div class="answers">
      <strong>2</strong> answers
    </div>
  </div>
  <div style="clear:both"></div>
</div>

