<% 
  # Local variables used by this partial
  preview ||= false
%>

<div class="content">
  <%= render :partial => 'scenes/scene', :collection => @story.scenes %>
  <div class="edit-background span8">
    <div class="span8 row-fluid">
      <div class="edit-background-inner span11"></div>
    </div>
  </div>
</div>
