<div class="stoolbar row-fluid">
  <div class="span8">
    <div class="stoolbar-inner span11">
      <div class="status pull-right">
        <%= published_status(@story) %>
      </div>
      <ul>
        <li class="btn" id="stoolbar_bold">B</li>
        <li class="btn" id="stoolbar_italic">i</li>
        <li class="btn" id="stoolbar_ul"><%= image_tag 'ul.svg', :style => 'height: 18px;' %></li>
        <li class="divider">&nbsp;</li>
        <li class="btn" id="stoolbar_selectall"><i class="icon-book"></i></li>
      </ul>
    </div>
  </div>
</div>
