<%= render 'form' %>
<div class="content edit-mode">
  <% @story.scenes.each do |scene| %>
    <%= render :partial => "scenes/edit_scene", :locals => {:scene => scene} %>
  <% end %>

  <div class="row-fluid" id="add-scene-wrapper">                                                               
    <div class="span8" id="add-scene-break">Add Scene Break</div>                                              
  </div>  

  <div class="edit-background span8">
    <div class="span8 row-fluid">
      <div class="edit-background-inner span11"></div>
    </div>
  </div>
</div>
