<div class="story-history">
  <% @versions.each do |v| %>
    <% if !activity_text(v).nil? %>
    <div class="activity">
      <%= activity_text(v).html_safe %>
      <span class="activity-time pull-right"><%= time_ago_in_words(v.created_at) %> ago</span>
    </div>
    <% end %>
  <% end %>
</div>
