<div class="story">
  <%= render 'form' %>
  <div class="content edit-mode">
    <%= render_new_story_example %>

    <div class="row-fluid" id="add-scene-wrapper">
      <div class="span8" id="add-scene-break"><%= t 'stories.new.form.scene_break' %></div>
    </div>   
    
    <div class="edit-background span8">
      <div class="span8 row-fluid">
        <div class="edit-background-inner span11"></div>
      </div>
    </div>
  </div>
</div>
