<div class="story">
  <%= render 'form' %>
  <div class="content edit-mode">
    <%= render_new_story_example %>
    <div class="edit-background span8">
      <div class="span8 row-fluid">
        <div class="edit-background-inner span11"></div>
      </div>
    </div>
  </div>
</div>
