<% if @story.flagged? %>
  <div class="alert alert-block">
    <h4>This story has been flagged.</h4>
    <p>
      <strong>Reason:</strong> <%= @story.flags.first.reason %><br />
      This story is no longer visible to the public and will not appear in search results. If you are the story owner or a story moderator, you may still edit your story. If you feel this story was flagged in error, <a href="mailto:ensemble@cs.stanford.edu?subject=Story Flag">email the Ensemble staff.</a>
    </p>
  </div>
<% else %>
  <%= render 'stories/story' %>
<% end %>
