<% if @story.privacy == Story::Privacy::CONTRIBUTORS && current_or_guest_user.is_contributor?(@story) %>
  <div class="alert alert-block">
    <h4>This story is private.</h4>
    <p>
    Only the story owner and users added as contributors can view this story.
    </p>
  </div>
<% elsif @story.flagged? %>
  <div class="alert alert-block">
    <h4>This story has been flagged.</h4>
    <p>
      <strong>Reason:</strong> <%= @story.flags.first.reason %><br />
      This story is no longer visible to the public and will not appear in search results. If you are the story owner or a story moderator, you may still edit your story. If you feel this story was flagged in error, <a href="mailto:ensemble@cs.stanford.edu?subject=Story Flag">email the Ensemble staff.</a>
    </p>
  </div>
  <% if (current_user && current_user.admin?) || can?(:manage, @story) %>
    <%= render 'stories/story' %>
  <% end %>
<% else %>
    <%= render 'stories/story' %>
<% end %>

