<div class="alert alert-info">
  You are viewing version <%= @version %> of this story, dated <%= @story.versions[@version].created_at %>. 
  This is an <strong>old version</strong>.
</div>

<%= render 'stories/story' %>
