.comment_box {
  margin-top: 1em;
  overflow: auto;

  .comment_photo {
    float: left;
    width: 31px;
    height: 31px;
    border: 1px solid #cfcfcf;
    overflow: hidden;
  }

  .comment-info {
    clear:both;
    line-height: 1.7em;
    overflow: auto;
    font-size: 0.6em;

    .comment-name {
      font-weight: bold;

      a {
        color: #333;
      }
    }

    .comment-time {
      color: #777;
    }
  }

  .comment-login-link {
    font-size: 0.7em;
  }
}

.show_more {
  text-align: center;
  border: 1px dashed #cfcfcf;
  font-size: x-small;
  cursor: pointer;
  margin-top: 10px;
}

.comment {
  position:relative;
  color:#3c3c3c;
  line-height: 1.7em;
  margin-left: 42px;
  font-size: x-small;

  form {
    textarea {
      width: 100%;
      margin-bottom: 5px;
      box-sizing: border-box;
    }
  }

  .controls {
    position: absolute;
    top: 4px;
    right: 10px;
    background-color: #efefef;
    z-index: 2;
    opacity: 0.1;
    transition: all 0.4s ease;
    a {
      text-decoration: none;
      padding: 4px;
    }
  }

  &:hover {
    .controls {
      opacity: 1;
      a {
        background-color: white;
      }
    }
  }
}

/* Story Comments */
.story-comments {
  .comment-count {
    font-weight: bold
  }

  .comment_box {
    .comment-info {
      font-size: 1em;
      margin-bottom: 5px;
    }

    .comment {
      font-size: 1em;
    }
  }
}

/* Arrowhead */
.arrowhead-author-comment {
  background: #FFD2A1;
  padding: 5px;
  border-radius: 5px;

  .comment .controls {
    background-color: transparent;
  }

  .comment-info {
    .comment-name {
      &:after {
        content: "Arrowhead Author";
        background: #3a87ad;
        color: #fff;
        padding: 2px 4px;
        border-radius: 5px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        font-size: 0.8em;
      }
    }
  }
}
