.comment_box {
  margin: 1em 0;
  overflow: auto;

  .comment_photo {
    float: left;
    width: 31px;
    height: 31px;
    border: 1px solid #cfcfcf;
    overflow: hidden;
  }

  .comment-info {
    clear:both;
    line-height: 1.7em;
    overflow: auto;
    font-size: 0.6em;

    .comment-name {
      font-weight: bold;
    }

    .comment-time {
      color: #777;
    }
  }

  .comment-login-link {
    font-size: 0.7em;
  }
}

.show_more {
  text-align: center;
  border: 1px dashed #cfcfcf;
  font-size: x-small;
  cursor: pointer;
  margin-top: 10px;
}

.comment {
  position:relative;
  color:#3c3c3c;
  line-height: 1.7em;
  margin-left: 42px;
  font-size: x-small;

  .controls {
    position: absolute;
    top: 4px;
    right: 10px;
    background-color: #efefef;
    z-index: 2;
    opacity: 0.1;
    transition: all 0.4s ease;
    a {
      text-decoration: none;
      padding: 4px;
    }
  }

  &:hover {
    .controls {
      opacity: 1;
      a {
        background-color: white;
      }
    }
  }
}
