.scene form.paragraph-form {
  margin: 0;
}

.paragraph {
  margin-bottom: 1.8em;
  background-color: #fff;
  position: relative;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

  &:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    .paragraph-info {
      background-color: #eee;
      color: #444 !important;
      transition: all 0.4s ease;
    }

    .paragraph-actions {
      .edit-paragraphs {
        transition: all 0.4s ease;
        opacity: 1 !important;
        height: auto !important;
      }
    }
  }

  .paragraph-inner {
    .paragraph-info {
      padding: 0 5px;
      position: relative;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      text-align: right;
      color: #999;
      transition: all 0.4s ease;

      .paragraph-author {
        font-size: 0.8em;
      }
    }

    .paragraph-actions {
      font-size: 0.8em;

      a {
        text-decoration: none;
      }

      .love-link {
        float: right;
      }

      .edit-paragraphs {
        transition: all 0.4s ease;
        opacity: 0;
        height: 0;
      }
    }
    
    .winner i {
      color: #FFCC40;
    }
  }

  .next-paragraph, .prev-paragraph {
    display: none;
  }

  &.multiple {
    .para-navigation {
      position: absolute;
      right: 0px;
      bottom: 0px;
      text-align: right;
    }
    
    .next-paragraph, .prev-paragraph {
      display: block;
      float: right;
      padding: 0 5px;
      text-align: center;
      border-radius: 5px;
    }

    .next-paragraph {
      margin-left: 5px;
    }

    .paragraph-inner {
      .paragraph-actions {
        padding-right: 55px;      
      }
    }
  }

  &.expanded {
    .paragraph-inner {
      margin-bottom: 0.8em;
     
      .paragraph-info {
        background-color: #eee;
        color: #444 !important;
        transition: all 0.4s ease;
      }

      .paragraph-actions {
        .edit-paragraphs {
          transition: all 0.4s ease;
          opacity: 1 !important;
          height: auto !important;
        }
      }
    }
  }
}
