$accent: #23ADE8;
$lightaccent: #60C8F5;

.scene form.paragraph-form {
  margin: 0;

  textarea {
    font-size: 1.5em;
    line-height: 1.8em;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  }
}

.scene.open .paragraph {
  border-left: 3px solid $lightaccent;
  padding-left: 15px;
  left: -15px;
}

.paragraphs-container.verticaltabs-container {
  overflow: visible;

  .tab-content {
    position: static;
    overflow: visible;
  }

  .nav-tabs {
    position: static;
    list-style-type: none;
    transform-origin: none;
    transform: none;
    border-left: 1px solid #ddd;
    border-bottom: 0;

    li {
      line-height: 36px;
      margin-left: -1px;
      margin-bottom: 0px;
      width: 100%;
    
      a {
        padding: 4px 0;
        line-height: 20px;
        border-radius: 0 4px 4px 0;
        border-left-color: transparent;
        box-sizing: border-box;
        min-width: 30px;
        display: block;
        margin-bottom: 5px;
        text-align: center;
        text-decoration: none;
        width: 100%;
      }

      &.active a {
        border-bottom-color: #ddd;
      }
    }
  }
}

.paragraph {
  margin-bottom: 5px;
  background-color: #fff;
  position: relative;
  transition: all 0.4s ease;

  &:hover {
    transition: all 0.4s ease;

    .paragraph-info {
      color: #444 !important;
      transition: all 0.4s ease;
    }

    .paragraph-actions {
      .edit-paragraphs, .admin-paragraphs {
        transition: all 0.4s ease;
        opacity: 1 !important;
      }
    }
  }

  .paragraph-inner {
    .paragraph-content {
      font-size: 1.5em;
      line-height: 1.6em;
      font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    }
    
    .paragraph-info {
      position: relative;
      text-align: right;
      color: #999;
      transition: all 0.4s ease;

      .paragraph-author, .likes, .paragraph-actions {
        font-size: 0.8em;
        line-height: 1.7em;
      }

      a {
        text-decoration: none;
      }
    }

    .paragraph-actions {
      a {
        text-decoration: none;
      }

      .love-link {
        float: right;
      }

      .edit-paragraphs, .admin-paragraphs {
        transition: all 0.4s ease;
        opacity: 0;
      }
    }
    
    .winner i {
      color: #FFCC40;
    }
  }

  .next-paragraph, .prev-paragraph {
    display: none;
    border: none;
    background: none;
    padding: 0 5px;
    text-align: center;
    border-radius: 5px;
  
    &.disabled {
      opacity: 0.5;

      &:hover {
        color: #000;
      }
    }

    &:hover {
      color: $accent;
    }
  }

  &.multiple {
    .next-paragraph, .prev-paragraph {
      display: inline;
    }

    .paragraph-inner {
    }
  }

  &.expanded {
    .paragraph-inner {
      margin-bottom: 0.8em;
     
      .paragraph-info {
        color: #444 !important;
        transition: all 0.4s ease;
      }

      .paragraph-actions {
        .edit-paragraphs, .admin-paragraphs {
          transition: all 0.4s ease;
          opacity: 1 !important;
          height: auto !important;
        }
      }
    }
  }
}
