// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested_post {
  margin-left: 86px;
}

table {
  p.lead {
    &.unread a {
      font-weight: bold;
    }
  }
}

.post_top {

  img {
    height: 50px;
  }

  .info_box {
    border: 1px solid #eaeaea;    
    padding: 12px;
    font-size: larger;
    border-radius: 6px;  
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 16px;

    .lead.message-body {
      margin-bottom: 0;
    }

    hr {
      margin: 5px 0;
    }

    .actions, .meta {
      opacity: 0.7;
      font-size: smaller;
     
      .edit-time {
        font-style: italic;
        margin-right: 5px;
      }

      &:hover {
        opacity: 1.0;
      }
    }
  }

  .stat_box {
    text-align: right;
    background-color: #eaeaea;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 12px;
    height: 50px;

    .pull-right {
      margin-top: 15px;
    }
  }
}

.message {

  .message-user {
    text-align: center;
    float: left;
    width: 80px;
    font-weight: bold;
    font-size: smaller;

    img {
      padding: 10px;
      border: 1px solid #cfcfcf;
      border-radius: 6px;
      height: 50px;
    }
  }

  .message-body {
    margin-left: 86px;
    padding: 12px;
    border: 1px solid #efefef;
    border-radius: 6px;
    margin-bottom: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    background-color: #eee;

    hr {
      margin: 5px 0;
    }

    .actions, .meta {
      opacity: 0.7;
      font-size: smaller;

      .edit-time {
        font-style: italic;
        margin-right: 5px;
      }

      &:hover {
        opacity: 1.0;
      }
    }
  }
}

.reply_box {
  margin-top: 16px;

}
