.scene {
  .scene-info {
    min-height: 40px;
    margin-bottom: 10px;
    position: relative;

    .scene-info-inner {
      transition: left 0.2s ease-in;
      cursor: pointer;
      position: absolute;

      &.scene-selected {
        left: -10px;
        background-color: #FFF1C7; 
        z-index: 99;

        .link_actions {
          opacity: 1;
          height: auto;
        }

        .scene-comments, .scene-comment-box {
          display: block;
        }

        .scene_text {
          p {
            overflow: auto;
            white-space: normal;
          }
        }

        &:before {
          border-top-color: #FFF1C7;
        }
      }

      .scene_text {
        font-size: smaller;
        
        h1 {
          font-size: larger;
          font-weight: normal;
          margin: 0;
          line-height: 1.5em;
        }

        p {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .link_actions {
        font-size: 0.7em;
        text-decoration: none;
        transition: all 0.2s ease;
        opacity: 0;
        height: 0;
      }

      .scene-comments, .scene-comment-box {
        display: none;
      }
    }

    .new-scene {
      display: block;
      text-decoration: none;
      opacity: 0;
      height: 0;
      transition: all 0.4s ease;
      min-height: 50px;
      line-height: 50px;
      border: 2px orange dashed;
      border-radius: 15px;
      font-size: smaller;
      text-align: center;
      cursor: pointer;
      color: #999;
    }

    &:hover {
      .new-scene {
        opacity: 1;
        height: auto;
        transition: all 0.4s ease;
      }
    }
  }

  .scene-form, .scene-info-inner {
    position: relative;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 0;
  }

  .scene-form {
    text-align: right;
  }

  .scene-form:before, .scene-info-inner:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #eee;
    border-left: 30px solid transparent;  
  }
}
