$lightaccent: #60C8F5;

.scene {
  position: relative;
  min-height: 160px;
 
  .scene-info {
    font-size: larger;
  }

  .scene-info, .scene-form {
    min-height: 40px;
    margin-bottom: 10px;
    position: relative;

    .scene-header {
      text-align: left;
      
      .scene-header-text {
        color: #ccc;
        text-shadow: 0px 2px 3px #fff;
        font-family: "Merriweather", Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
        font-weight: bold;
      }
      
      .label {
        display:none;
        font-size: 0.6em;
        background-color: #60C8F5;
      }

      i {
        color: #60C8F5;
      }
    }

    .scene-info-inner {
      transition: left 0.2s ease-in;
      cursor: pointer;
      position: absolute;

      &.scene-selected {
        left: -10px;
        background-color: #FFF1C7; 
        z-index: 99;

        .link_actions {
          opacity: 1;
          height: auto;
          margin-top: 10px;
        }

        .scene-comments, .scene-comment-box {
          display: block;
        }

        .scene-header {
          display: none;
        }

        .scene_text {
          p {
            overflow: auto;
            white-space: normal;
          }
        }

        &:before {
          border-top-color: #FFF1C7;
        }
      }
      
      .scene_text {
        font-size: smaller;
        
        h1 {
          font-size: larger;
          font-weight: normal;
          margin: 0;
          line-height: 1.5em;

          p {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .scene-prompt {
          font-family: Consolas, Lucida Console, Monaco, monospace;

          .prompt-header {
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }

      .main-actions {
        font-size: small;
        line-height: 1.6em;
      }

      .link_actions {
        font-size: 0.7em;
        transition: all 0.2s ease;
        opacity: 0;
        height: 0;

        a {
          text-decoration: none;
        }
      }

      .scene-comments, .scene-comment-box {
        display: none;
      }
    }
  }
  
  .new-scene {
    display: block;
    text-decoration: none;
    opacity: 0;
    transition: all 0.4s ease;
    height: 50px;
    line-height: 50px;
    border: 2px orange dashed;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    color: #999;
  }

  &:hover {
    .new-scene {
      opacity: 1;
      transition: all 0.4s ease;
    }
  }

  .scene-form-inner, .scene-info-inner {
    position: relative;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 0;
  }

  .scene-form-inner {
    text-align: right;
    transition: left 0.2s ease-in;
    position: absolute;
    left: -10px;
    background-color: #FFF1C7; 
    z-index: 99;
  }

  .scene-form-inner:before, .scene-info-inner:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #eee;
    border-left: 30px solid transparent;  
  }

  .scene-form-inner:before {
    border-top-color: #FFF1C7;
  }
}

.edit-mode .scene form.scene-form-inner {
  position: relative;
}
