// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightgrey: #666;
$darkgrey: #444;
$accent: #23ADE8;

/* Viewing Stories */
.story {
  /* width: 67%; */
  font-size: 1.0em;
  font-family: 'Open Sans', Cambria, Georgia, Times, Times New Roman, serif;

  h1 {
    font-family: 'Merriweather', Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 3.2em;
    font-weight: normal;
    margin: 0;
    line-height: 1.5em;
  }

  .subtitle {
    font-size: 1.5em;
  }

  .meta {
    color: $lightgrey;
    font-size: 0.85em;
  }

  .editing {
    background-color: #f0f0f0;
    min-height: 5px;
    padding: 5px 10px;
    margin: 8px 0;
    text-align: right;
  }

  .content {
    line-height: 1.8em;

    .paragraph {
      margin-bottom: 1.8em;
      background-color: #fff;

      .span1 {
        text-align: center;
      }

      .span4 {
        font-size: larger;
      }

      .link_actions {
        color: #eee;
        a {
          text-decoration: none;
          font-size: 12px;
          color: #eee;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;        
        }
      }

      &:hover {
        .link_actions {
          color: #333;
          a {
            color: #0088cc;
          }
        }
      }

      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;

      &:hover {
        background-color: #fbfbfb;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
    }
  }
}

.storybar {
  width: 30%;
  float: right;
  margin-left: 20px;

  .question-box {
    border: 1px solid $darkgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;     
    width: 250px;
    font-size: 0.85em;
    line-height: 1.5em;
    position: relative;

    .likes {
      float: left;
      text-align: center;
      width: 15px;
    }

    .question-info {
      float: left;
      width: 230px;
      padding-left: 5px;
    
      .question-text {
        font-weight: bold;
      }

      .asker {
        color: $lightgrey;
      }

      .answers {
        color: $accent; 
      }
    }
  }

  .question-box:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(68,68,68,0);
    border-right-color: #444;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
  }
}

/* Story Index */
.new-story.btn {
  margin-bottom: 10px;
}

/* Editing Stories */
.question {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: text-top;
  border: 1px solid black;
  overflow: hidden;
}
.highlight {
  background-color: #ffff33;
}
#story_popover {
  z-index: 999;
  
  height: 100px;
  width: 300px;

  position: absolute;
  left: 0;
  top: 0;

  .close {
    margin-top: -10px;
  }
}

.status {
  margin: 8px;
  margin-top: 12px;
}

.stext {
  font-family: 'Open Sans', Cambria;
  border: 1px solid #cccccc;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 5px;

  .ttab {
    textarea {
      font-family: 'Open Sans', Cambria;
      font-size: larger;
      line-height: 2.0em;
      border: none;
      /*border-left: 1px solid #cfcfcf;*/
      outline: none;
      resize: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      overflow: hidden;
      margin-left: 0;
      border-radius: 0;
      width: 95%;
    }
  }

  .txt {
    font-family: 'Open Sans', Cambria;
    line-height: 1.8em;
    border: none;
    outline: none;
    resize: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow: hidden;
    margin-left: 0;
    border-radius: 0;
    width: 95%;
  }

  .move {
    display: block;
    width: 20px;
    height: 20px;
    cursor: move;
    margin: 11px 4px;
  }
}

.stoolbar {
  ul {
    margin: 0;
    padding-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fcfcfc;
    display: block;

    &::after {
      clear: both;
      display: table;
      content: "";
    }

    li {
      float: left;
      display: list-item;
      list-style: none;
      margin: 5px 0 5px 5px;
      font-size: larger;

      &.divider {
        min-width: 1px;
        border-right: 1px solid #efefef;
        margin-right: 9px;
        padding-right: 5px;
        margin-top: 6px;
        margin-bottom: 6px;
        height: 30px;
      }
    }

    #stoolbar_bold {
      font-family: serif;
      font-weight: bold;
    }

    #stoolbar_italic {
      font-family: serif;
      font-style: italic;
    }
  }
}

#textModal {
  textarea {
    width: 500px;
    height: 300px;
  }
}