// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightgrey: #666;
$darkgrey: #444;
$accent: #23ADE8;

/* Viewing Stories */
.story {
  width: 67%;
  float: left;
  font-size: 1.3em;

  h1 {
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0;
    line-height: 1.2em;
  }

  .subtitle {
    float: left;
  }

  .meta {
    color: $lightgrey;
    text-align: right;
    font-size: 0.85em;
  }

  .content {
    font-family: Cambria, Georgia, Times, Times New Roman, serif;
    line-height: 1.5em;
  }
}

.storybar {
  width: 30%;
  float: right;
  margin-left: 20px;

  .question-box {
    border: 1px solid $darkgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;     
    width: 250px;
    font-size: 0.85em;
    line-height: 1.5em;
    position: relative;

    .likes {
      float: left;
      text-align: center;
      width: 15px;
    }

    .question-info {
      float: left;
      width: 230px;
      padding-left: 5px;
    
      .question-text {
        font-weight: bold;
      }

      .asker {
        color: $lightgrey;
      }

      .answers {
        color: $accent; 
      }
    }
  }

  .question-box:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(68,68,68,0);
    border-right-color: #444;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
  }
}

/* Story Index */
.new-story.btn {
  margin-bottom: 10px;
}

/* Editing Stories */
.question {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: text-top;
  border: 1px solid black;
  overflow: hidden;
}
.highlight {
  background-color: #ffff33;
}
#story_popover {
  z-index: 999;
  
  height: 100px;
  width: 300px;

  position: absolute;
  left: 0;
  top: 0;

  .close {
    margin-top: -10px;
  }
}

.status {
  margin: 5px;
}

.stext {
  border: 1px solid #cccccc;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 5px;
  width: 756px;

  .ttab {
    float: left;
    font-size: 20px;
    line-height: 10px;
    font-weight: 500;
    padding: 4px;
    padding-bottom: 8px;
    margin: 4px;
    margin-right: 0;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    border-width: 1px 0 1px 1px;
    background-color: #efefef;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    vertical-align: top;
    width: 20px;
    overflow: hidden;

    textarea {
      display: none;
    }
  }

  .ttab_expanded {

    width: 287px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    textarea {
      display: inline;
      width: 260px;
      border: 0;
      background-color: #efefef;
      outline: none;
      resize: none;
      box-shadow: none;
      font-size: small;
      margin-top: -6px;
    }
  }

  .tbox {
    margin-left: 10px;
  }

  .tbox_collapsed {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 300px;
    width: 440px;

    textarea {
      width: 440px;
    }
  }

  .txt {
    border: none;
    border-left: 1px solid #cfcfcf;
    outline: none;
    resize: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow: hidden;
    margin-left: 0;
    border-radius: 0;
    width: 706px;
  }
}

.stoolbar {
  ul {
    margin: 0;
    padding-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fcfcfc;
    display: block;
    width: 756px;

    &::after {
      clear: both;
      display: table;
      content: "";
    }

    li {
      float: left;
      display: list-item;
      list-style: none;
      margin: 5px 0 5px 5px;
      font-size: larger;
    }

    #stoolbar_bold {
      font-family: serif;
      font-weight: bold;
    }

    #stoolbar_italic {
      font-family: serif;
      font-style: italic;
    }
  }
}