.preferences, .profile {
  h1 {
    padding: 15px;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    background-color: #eee;
  }

  & > div {
    border: 1px solid #ddd;
  }

  .profile-info {
    img {
      margin: 0 auto;
      display: block;
    }
  }

  .preferences-nav {
    ul {
      background-color: #fcfcfc;
      list-style-type: none;
      margin: 0;

      li {
        &.active {
          border-left: 2px solid #60c8f5;
        }
        a {
          display: block;
          line-height: 2em;
          padding: 10px 13px;
          border-left: 2px solid #fcfcfc;
        }
        border-top: 1px solid #eee;
        border-bottom: 1px solid #fff;
        &:hover {
          background-color: #fefefe;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
  .preferences-content {
    .preferences-inner {
      padding: 15px;

      .email-prefs-form {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  .my-stories {
    table {
      margin-bottom: 0;

      td {
        vertical-align: middle;
      }
    }
    
    h3 {
      margin: 0;
    }
  }
}
