<%= form_for [scene, p], :remote => true, :html => { :class => paragraph_form_classes(p, scene) } do |f| %>
  <%= f.text_area :content, :rows => 5, 
                  :placeholder => 'How would you write this part?', 
                  :class => 'span12' %><br />
                  
  <span class="text-error">
  </span>
  <%= f.submit "Save", :class => 'btn btn-mini pull-right' %>
  <%= link_to "Cancel", "#", :class => 'btn btn-mini pull-right cancel-paragraph' %>
<% end %>

