<div class="story"> 
  <% if !@story.nil? && !@story.new_record? && !current_page?(edit_story_path(@story)) %>
    <%= render :partial => 'stories/draft_notice' %>
    <%= render :partial => "stories/header" %>
  <% end %>
  <%= yield %>
</div>
<%= parent_layout 'application' %>
